body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    /* margin: 50px; */
    padding: 0 50px;
    box-sizing: border-box;
    /* margin-right: 100px; */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #eeeeee;
}

/* .article {
    text-align: center;

} */

a:hover {
    text-decoration: none;
}
.artist_box:hover{
    text-decoration: none;
    transform: translateY(-10px);
    transition: all ease 0.2s;
    color: blueviolet;
    filter: brightness(0.8)
}

.showCase {
    background-color: #FFD2D2;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-evenly;
    /* flex-direction: column; */
}

.artist_box {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    text-align: center;
    /* margin: 10px; */
    background-color: #DBD4D4;
    /* margin-left: 50px; */
    margin: 15px 0;
}
.artist_name {
    width:150px;
    /* overflow:hidden; */
    /* height:1em; */
    display: flex;
    align-items: center;
    text-align: center;
    /* margin: 0 20px; */
    justify-content: center;
}